$primary-default: #fffd00;
$primary-hover: #ffe600;
$primary-mute: #fffe8a;

$secondary-default: #a102ff;
$secondary-dark: #61019a;
$secondary-darker: #3d0062;
$secondary-mute: #d48bff;

$font-default: #232323;
$font-mute: rgba(36, 36, 36, 0.7);

$system-success: #7cf253;
$system-fail: #ff9494;
$system-gray: #cecece;

$background-default: #e5e5e5;

$transparent: rgba(255, 255, 255, 0);
$white: #ffffff;

$box-shadow-default: rgba(0, 0, 0, 0.25);
