@use '../abstracts/' as *;
@use '../base/' as *;

.main {
  height: 100%;
  @include main-defaults($font-default, $background-default);
}
.main-wrap {
  @include main-wrap-defaults(900px);
}

.article {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

.article-image {
  margin: 0;
  &__img {
    object-fit: cover;
    max-width: 95%;
  }
}
